<div id="questionnaire">
  <p class="top">{{yes.label}}</p>
  <div class="middle">
      <p class="left">{{maybe.label}}</p>
      <p class="center">{{question}}</p>
      <p class="right">Back</p>
  </div>
  <p class="bottom">{{no.label}}</p>
</div>
