<div id="response">
  <p class="top">Back to home</p>
  <div class="middle">
      <p class="left"></p>
      <p class="center">{{response}}</p>
      <p class="right"></p>
  </div>
  <p class="bottom">Try again</p>
</div>
